ion-input {
    text-align: right; 
    font-size: x-large;
    padding: 8px;
}

.bmi {
    color: gray; 
}

.age {
    color: gray; 
    font-size: medium; 
}

.header-icon {
    font-size: 36pt;
    color: var(--ion-color-primary);
}

ion-select {
    font-size: large; 
}

.main-content {
    padding-top: 20px;
}
