<ion-item [routerLink]="'profile/' + profile.id">
  <ion-grid>
    <ion-row>
      <ion-col >
        {{ profile.doctor.firstName }} {{ profile.doctor.lastName }}
      </ion-col>
      <ion-col class="address">
        {{ profile.employer.address.zipCode + ' | ' + profile.employer.address.city }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="specialty">
          {{ formattedSpecialty() }}
        </p>
      </ion-col>
      <ion-col size="auto">
        <span [class]="'dot ' + status"></span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
